div.modal.hide#new-tweet-modal
    div.modal-header
        button(type="button", data-dismiss="modal") x
        h3 Compose
    div.modal-body
        textarea
    div.modal-footer
        a(href="#", data-dismiss="modal").btn Close
        a(href="#").btn.btn-primary Post
