div.modal.hide#settings-modal
    div.modal-header
        button(type="button", data-dismiss="modal") x
        h3 Settings
    div.modal-body
        Settings go would here
    div.modal-footer
        a(href="#", data-dismiss="modal").btn Close
        a(href="#").btn.btn-primary Save
