
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .nav-collapse
        ul.nav
          li.active
            a(href="#")#settings-btn Settings 
          li
            a(href="#")#bugreport-btn Report bug
          li
            a(href="#")#close-btn Close
.container
  .hero-unit
    h1 Unikorn
    div#main
      div#timeline 
        span.column-header Timeline
        a.btn.btn-primary.btn-large(href="#") Btn
