
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .nav-collapse
        ul.nav
          li
            a(href="#new-tweet-modal", data-toggle="modal")#new-tweet-btn New Tweet
          li
            a(href="#")#settings-btn Settings 
          li
            a(href="#")#bugreport-btn Report bug
          li
            a(href="#")#close-btn Close
.container
  .hero-unit
    h1 Unikorn
    div#main
      div#timeline 
        span.column-header Timeline
        a.btn.btn-primary.btn-large(href="#") Btn

include modals/new-tweet
include modals/settings
include modals/bug-report

script(src="/js/main.js")
script(src="/js/bootstrap-button.js")
script(src="/js/bootstrap-collapse.js")
script(src="/js/bootstrap-modal.js")
script(src="/js/bootstrap-tooltip.js")
